<% include ./partials/header %>
<h1>THIS IS THE LANDING PAGE</h1>
<a href="/signup" class="btn btn-default">Sign Up</a>
<a href="/signin" class="btn btn-default">Sign In</a>
<% include ./partials/footer %>
