<!-- USER AUTHENTICATION LOGIC -->
<% if (!currentUser) { %>
<li><a href="/signup">Sign Up</a></li>
<li><a href="/signin">Sign Up</a></li>
<% } else { %>
<li><a href="/profile">Profile</a></li>
<li><a href="/logout">Logout</a></li>
<% } %> 
